In Germany seperation of power divides the political power into three branches of government, namely legislature, executive and judiciary.
Therefore the reinging party of a state should theoretically as part of the executive have no influence on judiciary. 

I want to test this and see if there is some correlation between reiging partys and the amount of telecommunication surveillance.

In [1]:
import pandas as pd
import numpy as np

#import sys
#sys.path.insert(0, '..')
#from src.dataProcessing import yearlySum

In [2]:
def yearlySum(xls):
    '''
    This function sums up the data of each year and returns a dataframe with the summed up data.
    '''
    # Get the names of all sheets in the Excel file
    sheet_names = xls.sheet_names

    # Read each sheet into a separate DataFrame and store them in a list
    dfs = [pd.read_excel(xls, sheet_name) for sheet_name in sheet_names]

    # Add a 'Year' column to each DataFrame
    for i in range(len(dfs)):
        dfs[i]['Year'] = sheet_names[i].replace('_surveillance', '')
    
    # Concatenate all DataFrames into one
    data = pd.concat(dfs, ignore_index=True)

    # Convert the 'Year' column to datetime index
    data['Year'] = data['Year'].astype(int)
    data['Year'] = pd.to_datetime(data['Year'], format='%Y')
    data.set_index('Year', inplace=True)

    #We only analyse pargraph 6 as these are the actual crimes
    data_paragraph6 = data[data['paragraph'].isin([1,6])]
    data_paragraph6_int = data_paragraph6.select_dtypes(include=['int'])
    data_yearly = data_paragraph6_int.groupby('Year').sum()
    
    return data_yearly

In [6]:
xls = pd.ExcelFile('../dat/surveillance_data.xlsx')
data = yearlySum(xls)
data = data.drop(columns=['GBA', 'overall'])
data

,paragraph,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH
Year,,,,,,,,,,,,,,,,,
2013-01-01,234,2353,3501,2053,289,330,1175,5313,719,1701,2847,608,115,1166,523,107,338
2016-01-01,65,2076,4271,1845,288,329,1332,5835,324,2262,1927,638,285,1122,473,315,203
2019-01-01,252,2214,4186,1624,181,226,872,5680,365,1813,1132,548,99,654,415,258,285
2020-01-01,88,1988,3770,1364,268,150,949,5230,355,1335,1287,446,99,690,365,986,272
2021-01-01,264,1854,3905,1302,207,129,770,5311,283,1603,1086,526,87,535,397,910,242

Unfortuntly I was not able to find a ready to use dataset on the past governments of germanys states. Therefore I decide to manually take the data from WikiPedia.

https://www.statistik-bw.de/Service/Veroeff/Monatshefte/PDF/Beitrag22_03_09.
https://de.wikipedia.org/wiki/Ergebnisse_der_Landtagswahlen_in_der_Bundesrepublik_Deutschland

In [88]:
import glob
import os
# Get a list of all CSV files
csv_files = glob.glob('../dat/election_results_per_state/*.csv')

# Initialize an empty list to store the dataframes
dfs = []
# Loop through the list of CSV files
for filename in csv_files:
    # Read the CSV file
    df = pd.read_csv(filename, header=0)
    
    # Derive the state name from the filename
    state = os.path.basename(filename).replace('.csv', '')

    # Insert the new column at the third position (index=2)
    df.insert(2, 'State', state)
    
    # Append the dataframe to the list of dataframes
    dfs.append(df)

# Concatenate all dataframes in the list into a single dataframe
df = pd.concat(dfs, ignore_index=True)

df

,Wahltag,Wbt.,State,Gr√ºne,CDU,SPD,FDP/DVP,AfD,NPD,REP,...,FDP,DVU,DZP,Piraten,BiW,SSW,FDP/DPS,FW,CSU,BP
0,27.03.2011,66.3,bw,24.200,39.0,23.1,5.3,0.0,1.00,1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.03.2016,70.4,bw,30.300,27.0,12.7,8.3,15.1,0.40,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.03.2021,63.8,bw,32.600,24.1,11.0,10.5,9.7,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27.09.2009,67.5,bb,5.600,19.8,33.0,NaN,0.0,NaN,NaN,...,7.20,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.09.2014,47.9,bb,6.200,23.0,31.9,NaN,12.2,NaN,NaN,...,1.50,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01.09.2019,61.3,bb,10.800,15.6,26.2,NaN,23.5,NaN,NaN,...,4.10,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13.05.2012,59.6,nw,11.300,26.3,39.1,NaN,0.0,NaN,NaN,...,8.60,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14.05.2017,65.2,nw,6.400,33.0,31.2,NaN,7.4,NaN,NaN,...,12.60,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15.05.2022,55.5,nw,18.200,35.7,26.7,NaN,5.4,NaN,NaN,...,5.90,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,30.08.2009,56.2,th,6.200,31.2,18.5,NaN,0.0,NaN,NaN,...,7.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,14.09.2014,52.7,th,5.700,33.5,12.4,NaN,10.6,NaN,NaN,...,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,27.10.2019,64.9,th,5.200,21.7,8.2,NaN,23.4,NaN,NaN,...,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,18.09.2011,60.2,be,17.600,23.3,28.3,NaN,0.0,NaN,NaN,...,1.80,NaN,NaN,8.9,NaN,NaN,NaN,NaN,NaN,NaN
13,18.09.2016,66.9,be,15.200,17.6,21.6,NaN,14.2,NaN,NaN,...,6.70,NaN,NaN,1.7,NaN,NaN,NaN,NaN,NaN,NaN
14,26.09.2021,75.7,be,18.900,18.0,21.4,NaN,8.0,NaN,NaN,...,7.10,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN,NaN
15,12.02.2023,62.9,be,18.400,28.2,18.4,NaN,9.1,NaN,NaN,...,4.60,NaN,NaN,0.3,NaN,NaN,NaN,NaN,NaN,NaN
16,22.05.2011,55.5,hb,22.500,20.3,38.6,NaN,0.0,NaN,NaN,...,2.40,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN
17,10.05.2015,50.2,hb,15.100,22.4,32.8,NaN,5.5,NaN,NaN,...,6.60,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN,NaN
18,26.05.2019,64.1,hb,17.400,26.7,24.9,NaN,6.1,NaN,NaN,...,5.90,NaN,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN
19,14.05.2023,56.8,hb,11.900,26.2,29.8,NaN,0.0,NaN,NaN,...,5.10,NaN,NaN,NaN,9.4,NaN,NaN,NaN,NaN,NaN
20,27.09.2009,73.5,sh,12.400,31.5,25.4,NaN,0.0,NaN,NaN,...,14.90,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN
21,06.05.2012,60.2,sh,13.200,30.8,30.4,NaN,0.0,NaN,NaN,...,8.20,NaN,NaN,NaN,NaN,4.6,NaN,NaN,NaN,NaN
22,07.05.2017,64.2,sh,12.900,32.0,27.2,NaN,5.9,NaN,NaN,...,11.50,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN
23,08.05.2022,60.4,sh,18.300,43.3,16.0,NaN,4.4,NaN,NaN,...,6.40,NaN,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN
24,30.08.2009,67.6,sl,5.900,34.5,24.5,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.2,NaN,NaN,NaN
25,25.03.2012,61.6,sl,5.040,35.2,30.6,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.2,NaN,NaN,NaN
26,26.03.2017,69.7,sl,4.000,40.7,29.6,NaN,6.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN
27,27.03.2022,61.4,sl,4.995,28.5,43.5,NaN,5.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.8,NaN,NaN,NaN
28,30.08.2009,52.2,sn,6.400,40.2,10.4,NaN,0.0,5.60,NaN,...,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,31.08.2014,49.2,sn,5.700,39.4,12.4,NaN,9.7,4.90,NaN,...,3.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,01.09.2019,66.6,sn,8.600,32.1,7.7,NaN,27.5,0.00,NaN,...,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,18.01.2009,61.0,he,13.700,37.2,23.7,NaN,0.0,0.90,NaN,...,16.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,22.09.2013,73.2,he,11.100,38.3,30.7,NaN,4.1,1.10,NaN,...,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,28.10.2018,67.3,he,19.800,27.0,19.8,NaN,13.1,0.20,NaN,...,7.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,8.10.2023,66.0,he,14.800,34.6,15.1,NaN,18.4,0.00,NaN,...,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,20.02.2011,57.0,hh,11.200,21.9,48.4,NaN,0.0,NaN,NaN,...,6.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,15.02.2015,56.9,hh,12.300,15.9,45.6,NaN,6.1,NaN,NaN,...,7.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,23.02.2020,63.3,hh,24.200,11.2,39.2,NaN,5.3,NaN,NaN,...,4.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,27.03.2011,61.8,rp,15.400,35.2,35.7,NaN,0.0,1.10,NaN,...,4.20,NaN,NaN,NaN,NaN,NaN,NaN,2.3,NaN,NaN
39,13.03.2016,70.4,rp,5.300,31.8,36.2,NaN,12.6,0.50,NaN,...,6.20,NaN,NaN,NaN,NaN,NaN,NaN,2.2,NaN,NaN
40,14.03.2021,64.4,rp,9.300,27.7,35.7,NaN,8.3,0.00,NaN,...,5.50,NaN,NaN,NaN,NaN,NaN,NaN,5.4,NaN,NaN
41,20.03.2011,51.2,st,7.100,32.5,21.5,NaN,0.0,NaN,NaN,...,3.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,13.03.2016,61.1,st,5.200,29.8,10.6,NaN,24.3,NaN,NaN,...,4.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,06.06.2021,60.3,st,5.900,37.1,8.4,NaN,20.8,NaN,NaN,...,6.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,27.01.2008,57.1,ni,8.000,42.5,30.3,NaN,0.0,1.50,NaN,...,8.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,20.01.2013,59.4,ni,13.700,36.0,32.6,NaN,0.0,0.80,NaN,...,9.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,15.10.2017,64.5,ni,8.700,33.6,36.9,NaN,6.2,0.00,NaN,...,7.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,09.10.2022,60.3,ni,14.500,28.1,33.4,NaN,10.9,0.00,NaN,...,4.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,04.09.2011,51.5,mv,8.700,23.0,35.6,NaN,0.0,6.00,NaN,...,2.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,04.09.2016,61.7,mv,4.800,19.0,30.6,NaN,20.8,3.02,NaN,...,3.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,26.09.2021,70.8,mv,6.300,13.3,39.6,NaN,16.7,0.80,NaN,...,5.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,28.09.2008,58.1,by,9.400,NaN,18.6,NaN,0.0,1.20,NaN,...,8.00,NaN,NaN,NaN,NaN,NaN,NaN,10.2,43.4,1.1
52,15.09.2013,63.9,by,8.600,NaN,20.6,NaN,0.0,0.60,NaN,...,3.30,NaN,NaN,NaN,NaN,NaN,NaN,9.0,47.7,2.1
53,14.10.2018,72.4,by,17.600,NaN,9.7,NaN,10.2,0.00,NaN,...,5.10,NaN,NaN,NaN,NaN,NaN,NaN,11.6,37.2,1.7
54,8.10.2023,73.3,by,14.400,NaN,8.4,NaN,14.6,0.00,NaN,...,3.00,NaN,NaN,NaN,NaN,NaN,NaN,15.8,37.0,0.9

In [89]:
by= pd.read_csv('../dat/election_results_per_state/by.csv', header=0)
by

      Wahltag  Wbt.   CSU    FW   AfD  Gr√ºne   SPD  FDP   BP  NPD  √úbrige
0  28.09.2008  58.1  43.4  10.2   0.0    9.4  18.6  8.0  1.1  1.2     8.1
1  15.09.2013  63.9  47.7   9.0   0.0    8.6  20.6  3.3  2.1  0.6     8.1
2  14.10.2018  72.4  37.2  11.6  10.2   17.6   9.7  5.1  1.7  0.0     7.0
3   8.10.2023  73.3  37.0  15.8  14.6   14.4   8.4  3.0  0.9  0.0     5.9

In [90]:
df.columns

Index(['Wahltag', 'Wbt.', 'State', 'Gr√ºne', 'CDU', 'SPD', 'FDP/DVP', 'AfD',
       'NPD', 'REP', '√úbrige', 'Linke', 'BVB/FW', 'FDP', 'DVU', 'DZP',
       'Piraten', 'BiW', 'SSW', 'FDP/DPS', 'FW', 'CSU', 'BP'],
      dtype='object')

In [91]:
df.loc[df['State'] == 'by']

,Wahltag,Wbt.,State,Gr√ºne,CDU,SPD,FDP/DVP,AfD,NPD,REP,...,FDP,DVU,DZP,Piraten,BiW,SSW,FDP/DPS,FW,CSU,BP
51,28.09.2008,58.1,by,9.4,NaN,18.6,NaN,0.0,1.2,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,10.2,43.4,1.1
52,15.09.2013,63.9,by,8.6,NaN,20.6,NaN,0.0,0.6,NaN,...,3.3,NaN,NaN,NaN,NaN,NaN,NaN,9.0,47.7,2.1
53,14.10.2018,72.4,by,17.6,NaN,9.7,NaN,10.2,0.0,NaN,...,5.1,NaN,NaN,NaN,NaN,NaN,NaN,11.6,37.2,1.7
54,8.10.2023,73.3,by,14.4,NaN,8.4,NaN,14.6,0.0,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,15.8,37.0,0.9

In [92]:
len(df['State'].unique()) == 16

True

In [93]:
df.fillna(0, inplace=True)
# Create a new column 'total' that contains the sum of all values in each row
df['total'] = df.iloc[:, 3:].sum(axis=1)

# Create a new column 'check' that checks if 'total' is equal to 1
df['check'] = df['total'] == 1
df['total']

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [94]:
df.dtypes

Wahltag     object
Wbt.       float64
State       object
Gr√ºne      float64
CDU        float64
SPD        float64
FDP/DVP    float64
AfD        float64
NPD        float64
REP        float64
√úbrige     float64
Linke      float64
BVB/FW      object
FDP        float64
DVU        float64
DZP        float64
Piraten    float64
BiW        float64
SSW        float64
FDP/DPS    float64
FW         float64
CSU        float64
BP         float64
dtype: object

In [ ]:
df['√úbrige']

0       6.3
1       5.9
2      12.1
3       4.4
4       6.6
5       5.1
6     12.2‚Å†
7       4.5
8       6.0
9       9.1
10      7.1
11      5.4
12      8.4
13      7.4
14     12.0
15      8.7
16      6.9
17      4.9
18      5.3
19      6.8
20      5.5
21    10.6‚Å†
22      3.4
23      4.1
24      4.6
25    11.9‚Å†
26      3.3
27      9.9
28      6.8
29      5.2
30      9.2
31      2.9
32      8.6
33      6.3
34      9.0
35      5.4
36      4.2
37      6.1
38      6.1
39      5.2
40      8.2
41     11.4
42      8.9
43     10.1
44      2.4
45      3.9
46      3.5
47      5.6
48      5.6
49      5.6
50      7.6
51      8.1
52      8.1
53      7.0
54      5.9
Name: √úbrige, dtype: object

In [ ]:
df['√úbrige'].astype(float)

ValueError: could not convert string to float: '12.2\u2060'